//Wellcome page
//======================
.welcome-page {
    display: flex;
    align-items: center;

    &__container{
        width: 40%;
        align-self: center;
        height: 200px;
        margin: auto;
        margin-top: 125px;
    }

    &__form-input-label{
        display: block;
    }

    &__form-input-label{
        display: block;
    }

    &__form-submit{
        display: block;
    }

}


//Main page
//======================
.game-info {
    width: 20%;
    margin: auto;
    margin-top: 50px;

    &__progress-bar-label {
        display: block;
    }
}

#root {
    margin: auto;
    margin-top: 65px;
    display: flex;
    width: 70%;
}

.battleField {
    margin-right: 120px;
}

.ships__item-image-container {
    position: relative;
    display: flex;
    margin-bottom: 40px;
}

.ships__item-image {
    display: flex;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    border: 3px solid #050505;
}

.cell:hover {
    background-color: salmon;
    opacity: 0.88;
}

.miss {
    background-image: url(./img/missed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hit {
    background-image: url(./img/hit-big.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hole-container {
    // visibility: hidden;
    position: absolute;
    top: 8px;
    left: 8px;
    background-image: url(./img/hit-big.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.hole {
    // visibility: hidden;
    width: 35px;
    height: 35px;
    background-image: url(./img/hit-big.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ships__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none;
}

.ships__item {
    display: flex;
}

.single {
    position: relative;
}

.single.hit::before {
    content: '';
    position: absolute;
    background-image: url(./img/hit-big.png);
}
//Goodbye page
//======================