//Wellcome page
//======================
.welcome-page {
    display: flex;
    align-items: center;

    &__container{
        width: 40%;
        align-self: center;
        height: 200px;
        margin: auto;
        margin-top: 125px;
    }

    &__form-input-label{
        display: block;
    }

    &__form-input-label{
        display: block;
    }

    &__form-submit{
        display: block;
    }

}


//Main page
//======================
.game-info {
    width: 20%;
    margin: auto;
    margin-top: 50px;

    &__progress-bar-label {
        display: block;
    }
}

#root {
    margin: auto;
    margin-top: 65px;
    display: flex;
    width: 70%;
}

.battleField {
    margin-right: 120px;
}

.ships__item-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.ships__item-image {
    display: flex;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    border: 3px solid #050505;
}

.cell:hover {
    background-color: salmon;
    opacity: 0.88;
}

.miss {
    background-image: url(./img/missed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hit {
    background-image: url(./img/fire-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42px 42px;
}

.hole-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.hole {
    width: 42px;
    height: 42px;
    background-image: url(./img/fire-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ships__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none;
}

.ships__item {
    display: flex;
}

.single {
    position: relative;
}
//Goodbye page
//======================